<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="tumlBuilder"
         name="TUMLBuilder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="helloxtend.builder.TUMLBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="TUMLBuilderNature"
         name="TUML Builder Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="helloxtend.builder.TUMLBuilderNature">
         </run>
      </runtime>
      <builder
            id="HelloXtend.tumlBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="TUML Builder Nature commands"
            id="HelloXtend.TUMLBuilderNature.category">
      </category>
      <command
            name="Add/RemoveTUML Builder Nature"
            defaultHandler="helloxtend.builder.AddRemoveTUMLBuilderNatureHandler"
            categoryId="HelloXtend.TUMLBuilderNature.category"
            id="HelloXtend.addRemoveTUMLBuilderNature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="HelloXtend.addRemoveTUMLBuilderNature"
               label="Disable Sample builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              value="HelloXtend.TUMLBuilderNature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="HelloXtend.addRemoveTUMLBuilderNature"
               label="Enable Sample builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 value="HelloXtend.TUMLBuilderNature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
